.cardpage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.c {
  position: absolute;
  width:  100ch;
  height: 50ch;
  cursor: pointer;
  top : 13%;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: 865px 430px;
}

.back {
  //background-color: yellow;
  background-image: url(./product_picture/bgyell.jpg);
}
 .inputBox{
  position:  absolute;
  bottom: 5%;
 }
.imgstate{
  position: absolute;
  left: 60%;
}
.redarrow{
  position: absolute;
  top : 10%;
  left: 40%;
}
.imgcurrent{
  position: absolute;
}