@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);

$text: #303336;
$light-text: #8c98a8;
$button: #49B956;
$button-hover: #60CF6F;

*, *:before, *:after {
  box-sizing: border-box;
}

.imageIU{
    width: 100%;
    height: 70%;
}
.product-box {
  font: 10px/1px "Raleway", Arial, sans-serif;
  color: $text; 
  width: 300px;
  height: 255px;
  
  margin-bottom: 20px;
  position: relative;
  display: inline-block; 
  border: 1px solid black; 
  margin:10px;

  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  background-image: url(./product_picture/bgyell.jpg);
}

.price {
  position: absolute;
  top: 100px;
  left: 230px;
  color: white;
  text-align: center;
  background: rgba(0,153,285,0.8);
  border-radius: 50%;
  padding: 7px 18px;
  font-size: 7px;

}

.information {
  text-align: center;
  margin-top: 18px;
}

.name {
  font-size: 15px;
  margin-bottom: 20px;
}

.store {
  font-size: 8px;
  color: $light-text;
  margin-bottom: 20px;
}

.button {
  text-decoration: none;
  background: $button;
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 2px 54px;
  border-radius: 5px;
  &:hover {
    background: $button-hover;
  }
}


