.img {
    width: 100px;
    height: 100px;
    position: relative;
    margin-right: -20px;
    margin-bottom: -19px;
   
  }
.arrow {
    width: 100px;
    height: 100px;
    position: relative;
    margin-right: -20px;
    margin-bottom: -19px;
  }
.box{
    top: 50%;
    display: inline;
}
.stateBox{
  display: inline;
}
.inputText{
  font-size: 20px;
  position: relative;
  margin-left: 20px;
 }