.img {
    width: 100px;
    height: 100px;
    position: relative;
    margin: -20px;
    //margin: 5px;
  }
.arrow {
    width: 100px;
    height: 100px;
    position: relative;
    margin: -20px;
  }
.box{
    top: 50%;
    display: inline;
}
.stateBox{
  display: inline;
}