.productBox {
    position: fixed;
    display:  flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(197, 4, 4, 0.2);
    max-width: fit-content;
    margin: auto;
    left : 22%;
    bottom: 150px;  
    align-self: center;
  }
 