.productBox {
    position: fixed;
    display:  flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(197, 4, 4, 0.2);
    max-width: fit-content;
    margin: auto;
    left : 24%;
    bottom: 3%;  
    align-self: center;

   
  }
  body {
    background-color: lightblue;
  }